.tanuki-bot-chat-drawer {
  $height-offset: $calc-application-bars-height;

  height: calc(100% - #{$height-offset});
  top: $height-offset !important; // overrides drawerStyles from GlDrawer
  bottom: 0;
  box-shadow: 0 4px 16px $t-gray-a-24;
  overflow-y: hidden;
  max-width: $wide-drawer;
  width: 100%;

  .legal-warning {
    margin-bottom: calc(-#{$gl-spacing-scale-5} - #{$gl-spacing-scale-1});
  }

  .tanuki-bot-chat-input-field {
    max-height: 200px;
    height: 2rem;
  }

  .gl-drawer-body-scrim-on-footer {
    &::before {
      background: none;
    }
  }

  .gl-drawer-body {
    overflow-y: auto;
  }

  .tanuki-bot-chat-chat-messages {
    min-height: 100%;
  }

  .tanuki-bot-message {
    background-color: $gray-50; // Overridden to $gray-100 in dark_mode_overrides.scss
  }

  .tanuki-bot-chat-message-markdown p {
    margin-bottom: 0;
  }

  .messages-move {
    transition: all 400ms ease;
  }

  .messages-enter-active,
  .messages-leave-active {
    animation: 400ms ease 0s 1 slide-in;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(200%);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.tanuki-bot-backdrop {
  z-index: 999;
}
